<div class="select_toolbar">

  <div class="container col-sm-6 col-md-3">


    <div class="input">
      <textarea id="input-box" placeholder="Type your response here"></textarea>
      <span class="submit" id="submit_btn">Submit</span>
    </div>

    <div class="actions ">
      <div class="note"><p>Take a note</p><img src="http://cdn.onlinewebfonts.com/svg/img_160509.svg"></div>
      <div class="comment"><p>Make a comment</p><img src="http://cdn.onlinewebfonts.com/svg/img_191189.svg" /></div>
    </div>





  </div>

</div>
