// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.post-image {
  width: 100%;
}

.post-content {
  font-size: 22px;
  line-height: 36px;
  word-spacing: 5px;
}

.highlight {
  background-color: powderblue;
}
